<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/icon.png">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Resultado</title>
</head>

<body>
  <div class="container">
    <header>
      <h2><a href="/"> Reconhecimento de Imagens com <span>Tensor Flow</span></a></h2>
    </header>
    <section class="middleLanding">
      <div class="image-result">
        <img src="/image1-annotate.png" alt="">
      </div>
      <div class="text">
        Desenvolvido por Hoffmann 😉
        <a href="https://github.com/XLucasHoffmannX/task-list/">Source code</a>
      </div>
    </section>
  </div>
</body>

</html>